{% extends "base.html" %}
    {% block content %}
    <div class="container" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
        <div class="row justify-content-center">
            <div class="card-deck">

              {% for d in data %}
                <div class="card border-dark" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title" style="color:#990000;">{{d.title}}</h5>
                        <p class="card-text">{{d.body}}</p>
                        <a href="{{d.url}}" class="btn btn-primary">{{d.upload}}</a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    {% endblock %}
